.title-one {
    font-size: 1.5rem;
}



.wrapper__main__bar__menu ul li button {
    /* margin: 10px 2rem; */
    margin-right: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: #333333;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #333333;
}

.wrapper__main__bar__menu ul li button:hover {
    color: #276FB4;
}
